In [2]:
from themis_ml.datasets import census_income

raw_data = census_income(raw=True)
raw_data.head()

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veteran's_admin,veterans_benefits,weeks_worked_in_year,year,income_gt_50k,dataset_partition
0,73,not_in_universe,0,0,9,0,not_in_universe,widowed,not_in_universe_or_children,not_in_universe,...,united-states,united-states,native-_born_in_the_united_states,not_in_universe,not_in_universe,no,0,2,0,training_set
1,58,self-employed-not_incorporated,4,34,10,0,not_in_universe,divorced,construction,precision_production_craft_&_repair,...,united-states,united-states,native-_born_in_the_united_states,not_in_universe,not_in_universe,no,52,1,0,training_set
2,18,not_in_universe,0,0,6,0,high_school,never_married,not_in_universe_or_children,not_in_universe,...,vietnam,vietnam,foreign_born-_not_a_citizen_of_u_s,not_in_universe,not_in_universe,no,0,2,0,training_set
3,9,not_in_universe,0,0,0,0,not_in_universe,never_married,not_in_universe_or_children,not_in_universe,...,united-states,united-states,native-_born_in_the_united_states,not_in_universe,not_in_universe,not_in_universe,0,1,0,training_set
4,10,not_in_universe,0,0,0,0,not_in_universe,never_married,not_in_universe_or_children,not_in_universe,...,united-states,united-states,native-_born_in_the_united_states,not_in_universe,not_in_universe,not_in_universe,0,1,0,training_set

In [11]:
from themis_ml.metrics import mean_difference
from themis_ml.metrics import normalized_mean_difference

# target variable
# values: 1 = low credit risk, 0 = high credit risk
income_gt_50k = raw_data["income_gt_50k"]

# display frequency counts of each value
income_gt_50k.value_counts()

0    280717
1     18568
Name: income_gt_50k, dtype: int64

In [5]:
sex = raw_data["sex"]

In [6]:
sex.value_counts()

female    155775
male      143510
Name: sex, dtype: int64

In [7]:

sex.replace('male', 0, inplace=True)  # for replacing male to 0

sex[sex != 0] = 1     # for replacing others to 1
print(sex)

0        1
1        0
2        1
3        1
4        1
        ..
99757    1
99758    0
99759    0
99760    1
99761    0
Name: sex, Length: 299285, dtype: object

C:\Users\chris\AppData\Local\Temp/ipykernel_12076/1454180746.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sex[sex != 0] = 1     # for replacing others to 1

In [8]:
sex.value_counts()

1    155775
0    143510
Name: sex, dtype: int64

In [9]:
print("Mean difference scores:")
print("protected class = sex: %0.03f, 95%% CI [%0.03f-%0.03f]" %
      mean_difference(income_gt_50k, sex))

Mean difference scores:
protected class = sex: 0.076, 95% CI [0.075-0.078]

In [18]:
print("\nNormalized mean difference scores:")
# normalized mean difference
print(
      normalized_mean_difference(income_gt_50k, sex)[0])

Normalized mean difference scores:
0.5894238415848376

In [19]:
citizenship = raw_data["citizenship"]

In [20]:
citizenship.replace('native-_born_in_the_united_states', 0, inplace=True)  # for replacing male to 0

citizenship[citizenship != 0] = 1     # for replacing others to 1
print(citizenship)

0        0
1        0
2        1
3        0
4        0
        ..
99757    0
99758    0
99759    1
99760    0
99761    0
Name: citizenship, Length: 299285, dtype: object

C:\Users\chris\AppData\Local\Temp/ipykernel_12076/1279900034.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  citizenship[citizenship != 0] = 1     # for replacing others to 1

In [21]:
citizenship.value_counts()

0    265347
1     33938
Name: citizenship, dtype: int64

In [24]:
print("Mean difference scores:")
print("protected class = citizenship: %0.03f, 95%% CI [%0.03f-%0.03f]" %
      mean_difference(income_gt_50k, citizenship))

Mean difference scores:
protected class = citizenship: 0.008, 95% CI [0.005-0.011]

In [23]:
print("\nNormalized mean difference scores:")
# normalized mean difference
print(
      normalized_mean_difference(income_gt_50k, citizenship)[0])

Normalized mean difference scores:
0.11709705026646035